@font-face {
  font-family: Saol Text Semibold;
  src: url(saol-text-semibold.otf);
}

@font-face {
  font-family: Leitura News Roman2;
  src: url(leitura-news-roman-2.otf);
}

@font-face {
  font-family: nittigrotesk-light;
  src: url(nittigrotesk-light.otf);
}


/*styles*/
body {
  background-color: #FAF7F3;
  color: #141414;
  font-family: Leitura News Roman2;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
}

h1 {
  font-family: Saol Text Semibold;
  font-size: 5rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p,
h4 {
  font-family: nittigrotesk-light;
}

p{
  font-size: 1.2rem;
  line-height: 1.2;
}

a{
  text-decoration: none;
  line-height:1;
  cursor:pointer;
}

/*utility*/
.wrapper {
  width: 100vw;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 8rem 5rem;
}

.max-width-large {
  max-width: 1100px;
  margin: 0 auto;
}

.max-width-medium {
  max-width: 800px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.h-v-center {
  align-items: center;
  justify-content: center;
}

.v-center {
  align-items: center;
}

.grid {
  display: grid;
}

.twelve-col {
  grid-template-columns: repeat(12, 1fr);
}

.start-two-span-four {
  grid-column: 3/7;
}

.start-eight-span-eleven {
  grid-column: 8/11;
}

.h-100 {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.m-top-1 {
  margin-top: 1.5rem;
}


.m-top-3 {
  margin-top: 3rem;
}

.m-top-8 {
  margin-top: 8rem;
}


.highlight{
  white-space: nowrap;
}

.highlight.circle:before{
  background-image: url(circle.svg);
  transform: scale(1.8);
  bottom: 8%;
}

.highlight.line:before{
  background-image: url(line.svg);
  background-position: bottom;
}

.highlight.accents:before{
  background-image: url(accents.svg);
  background-position: bottom;
  transform: scale(1.4);
  bottom: 30%;
}


.highlight:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
transform-origin: center;
  background-repeat: no-repeat;
  background-position: center;
z-index:-3;
}



.white{
  color:#ffffff;
}

/*main*/
header {
  position: fixed;
  min-width: 100%;
  padding: 2.5rem 5rem;
  z-index:2;
}

.logo {
  max-width: 8rem;
}

#featureAnimation {
  height:300vh;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shape {
  position: absolute;
  width: 80px;
  height: 60px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.intro,
.success,
.total-gifts{
  background-color: #fecf62;
}

.intro .max-width-large{
  position:relative;
  z-index:2;
}

.explore{
  position:absolute;
  bottom: 2rem;
  animation: upDown 1.2s infinite ease-in-out;
}

.scroll-arrow{
  max-width:1.5rem;
}

@keyframes upDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-80%);
  }
}



.last-year .container{
  padding-top:0;
  padding-bottom:0;
}

.total-gifts{
  background-color:#42584a00;
}

.total-gifts .container{
  padding-top:0;
  padding-bottom:20rem;
}

#gift-counter{
  padding: 3rem 0;
  font-size: 12rem;
  line-height: 1;
}

.loop{
  transform:scale(3);
  margin-top:12%;
  margin-right:65%;
}

.wins.wrapper {
  max-width:100vw;
  overflow-x: hidden;
  background-color:#42584A;
}


.wins h2{
  margin: 0 25rem;
}


.phone {
  filter: drop-shadow(-30px 20px 10px rgba(0, 0, 0, 0.2));
  max-width:324px;
  padding: 20px 15px 40px 15px;
  background-color: #faf7f3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 0 auto;
  line-height: 1;
}

span.emoji {
  display: inline-block;
  vertical-align: bottom;
}

.emoji-mask {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.emoji-wrap {
  position: absolute;
  margin-top:0.2rem;
}

.smiley{
  text-align:center;
  line-height:1.4;
}

.feed-mask {
  position: relative;
  overflow: hidden;
  width: 293px;
  max-width:324px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 1rem;
}

.feed-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2000%;
}

.panel {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.doggo {
  background-image: url('doggo.png');
}

.aesop {
  background-image: url('aesop.png');
}

.watering_can {
  background-image: url('watering_can.png');
}

.socks {
  background-image: url('socks.png');
}

.keyring {
  background-image: url('keyring.png');
}

.go_discover{
  background-image: url('go_discover.png');
}

.cotton_throw{
  background-image: url('cotton_throw.png');
}

.belong_anywhere {
  background-image: url('belong_anywhere.png');
}

.aesop_mug{
  background-image: url('aesop_mug.png');
}

.aepron {
  background-image: url('aepron.png');
}

.aepron_2 {
  background-image: url('aepron_2.png');
}

.keyring_door {
  background-image: url('keyring_door.png');
}

.candle{
  background-image: url('candle.png');
}

.belong_anywhere_2{
  background-image: url('belong_anywhere_2.png');
}

.love-working{
  overflow-x: hidden;
}


.percent-wrapper{
  position: relative;
}

.twinkle-wrapper{
  position:absolute;
  top: -60%;
  right: -30%;
  z-index: -1;
  max-width: 40%;
}

.twinkle-wrapper-second{
  left: -30%;
}


.percent {
  font-size: 12rem;
  line-height: 1;
}

.more {
  background-color: #fece62;
}

.slider-wrapper {
  background-color: #fece62;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(30% - 1rem);
  background-color: #faf7f3;
  padding: 5rem 3rem;
  border-radius: 16px;
  margin: 1rem;
}

.card h1{
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.card h2{
  margin-bottom: 0.4rem;
}

.marquee {
  top: 5vh;
  left: 0;
  width: 100%;
  line-height: 1;
  overflow: hidden;
  margin-top: 5rem;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-2000vw);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marquee-text {
  animation: moveLeft 1000s infinite linear;
  white-space: nowrap;
  height: 124px;
}

.marquee h1 {
  font-size: 4vw;
  white-space: nowrap;
  margin: 0px 30px;
}

.g-box {
  font-size: 50px;
}

.marquee:hover .g-box {
  animation: rotate 3s infinite linear;
}

.outro h2{
  margin: 0 5rem;
}

footer {
  background-color: #f1ece1;
  padding: 5rem 5rem 10rem 5rem;
  bottom: 0;
}

footer h3.tag {
  font-size: 16px;
  background: url(footer_logo.svg) 0 0 no-repeat;
  background-size: auto 22px;
  padding-left: 50px;
  width: 400px;
  max-width: 100%;
}

#success{
  background-color: #fece62;
}

.success{
  background-color: #faf7f300;
  overflow-y: hidden;
}

.success-feature#featureAnimation{
  background-color: #fece62;
  height: 100vh;
}

.success-btn{
  margin: 2rem auto 0 auto;
}


@media only screen and (max-width: 1536px) {
.max-width-large{
  max-width:1000px;
}

h1{
  font-size:4.5rem;
}

.shape{
  width:40px;
}

.total-gifts .container {
  padding-top: 4rem;
  padding-bottom: 12rem;
}

.loop{
  margin-top:3%;
  margin-right:40%;
  transform: scale(1.8);
}

  .phone {
    margin-top: 1rem;
  }


.feed-mask {
  height: 480px;
}

  .marquee {
    margin-top: 1.5rem;
  }

  .outro .container {
    padding: 3rem 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  
  h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

.wins h2,
.outro h2{
  margin:0;
}
  
  header,
  footer{
  padding: 2.5rem 2rem 8rem 2rem;
}
  
  .percent {
  font-size: 10rem;
}


  #gift-counter {
    font-size: 7rem;
  }

  .loop{
    transform: scale(1.3);
  }
  
  .container{
      padding: 8rem 3rem;
  }
  .start-two-span-four {
    grid-column: 1/7;
}
 .start-eight-span-eleven {
    grid-column: 8/13;
}
  
  .card {
  background-color: #faf7f3;
  padding: 3rem 2rem;
    margin: 0.5rem;
}
}

@media only screen and (max-width: 768px) {
  
  .m-top-8{
    margin-top: 4rem;
  }
  
  .stats h3{
    margin-bottom: 1.5rem;
  }
  
    .start-two-span-four {
    grid-column: 3/11;
      text-align: center;
}
 .start-eight-span-eleven {
      width: 100%;
    grid-column: 3/11;
      text-align: center;
}
  
    /* .card {
  width: calc(50% - 1rem);
} */

    .card {
  width: 100%;
}

.loop{
  margin-top:0;
  margin-right:50%;
  transform:scale(1);
}
}

@media only screen and (max-width: 540px) {
  .intro .title-intro{
    margin-bottom: 3rem;
  }

  .explore{
    bottom: 8.5rem;
  }


  #gift-counter {
    font-size: 6rem;
  }

  .loop{
    transform: rotate(312deg) scale(1);
    margin-right:0;
    margin-top: 15%;
  }

}

@media only screen and (max-width: 414px) {

  h1{
    font-size: 2.2rem;
  }
 
  h2,
  h3 {
    font-size: 1.2rem;
  }

 
  header{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .logo{
    max-width: 6rem;
  }
  

  .container{
        padding: 4rem 2rem;
  }

  .total-gifts .container{
    padding: 4rem 2rem 8rem 2rem;
  }

  .shape {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .intro .title-intro{
    margin-bottom: 1rem;
  }

  .explore{
    bottom: 7.5rem;
  }
  
.start-two-span-four {
    grid-column: 1/13;
      text-align: center;
}
.start-eight-span-eleven {
      width: 100%;
    grid-column: 1/13;
      text-align: center;
}

.percent {
  font-size: 7rem;
}

#gift-counter {
  font-size: 4rem;
}

.loop{
  transform: rotate(312deg) scale(0.8);
}

.twinkle-wrapper {
  top: -40%;
  right: 0%;
  max-width: 20%;
}

.twinkle-wrapper-second {
  left: 0;
}
  
.card {
  width: 100%;
}
  
  .outro .container {
    padding: 3rem 2rem;
}

.marquee {
  margin-top: 1rem;
}

.marquee-text {
  animation: moveLeft 200s infinite linear;
}

.marquee h1{
  font-size:10vw;
}
  
}
